In [3]:
!pip install pandas

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\marya\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\marya\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\marya\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\marya\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\marya\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
def intoDataFrame(csvFilename):
    dataframe = pd.read_csv(csvFilename)
    return dataframe

facebookDF = intoDataFrame("Copy of Facebook_Analytics - DO NOT DELETE (for interview purposes) - Facebook Profile Overview.csv")
instaDF = intoDataFrame("Copy of Instagram_Analytics - DO NOT DELETE (for interview purposes) - Instagram Profile Overview.csv")

facebookDF

,Date,Page followers,Total impressions,Organic impressions,Total page reactions,Total reach,% of reach from organic,% of reach from paid,Page post engagements,Total likes,New likes,Unlikes,Net likes,RowHash
0,02/03/2025,2146,16,0,0,16,NaN,0.0,0,2109,0,0,0,ef87c8184ef59de1d7c83833fd28aba94a9f26343482ec...
1,01/03/2025,2146,108,0,5,101,NaN,0.0,9,2111,1,0,1,50ae2eba54bce2196bab4d40afe6970691ba51c78c0287...
2,28/02/2025,2145,1,0,0,1,NaN,0.0,0,2110,0,0,0,671d002ee27ad653a043db917f4f26c2ef521efe507938...
3,27/02/2025,2145,9,0,0,3,NaN,0.0,0,2110,1,0,1,641223fa553c09a2f7aace7993a703ec0532368a5da577...
4,26/02/2025,2144,5,0,0,3,NaN,0.0,0,2109,0,1,-1,7460cb1200c8399b7228e0117f286f85d27d66931758f1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,06/04/2023,118,0,0,0,0,NaN,0.0,0,0,0,0,0,9aed395c10b8ccfd1bce1803ca22b4a7cfba63b6d6e658...
697,05/04/2023,118,0,0,0,0,NaN,0.0,0,0,0,0,0,56a9f1acd09d0c27bd7eff18c63bdafbb3b70a5d0929ba...
698,04/04/2023,118,0,0,0,0,NaN,0.0,0,0,0,0,0,8440a612c02f10afd488abd5f9b2b352cf18b63b49b677...
699,03/04/2023,118,0,0,0,0,NaN,0.0,0,0,0,0,0,371a4ed5109a02d5fb96362c7fcac808e19cf437532b49...
700,02/04/2023,118,0,0,0,0,NaN,0.0,0,0,0,0,0,NaN